// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'noto sans', sans-serif;
$font-size-base: 1rem;
$focus-ring-blur: 1px;
// $line-height-base: 1.6;
$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

$form-label-font-weight: 500 !important;
$form-label-font-size: $font-size-base + 0.3;