// Body
$body-bg: #f8fafc;

// Typography
@font-face {
    font-family: 'rift-soft';
    src: url('/fonts/RiftSoft-Bold.woff2');
}

$font-family-sans-serif: sans-serif;
$font-size-base: 1.15rem;
$focus-ring-blur: 1px;
// $line-height-base: 1.6;
// $input-btn-padding-y: .375rem;
// $input-btn-padding-x: .75rem;

// $form-label-font-weight: 500 !important;
// $form-label-font-size: $font-size-base + 0.3;

$primary: #243061;
$secondary: #C63A0A;
$success: #2e657d;
$info: #ebe9e4;
$warning: #fccb4d;
$danger: #f56553;