// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Sans:wght@100;400;500;600;700;900&display=swap');
// @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url(https://db.onlinewebfonts.com/c/e89eb1cff9eb261b0d77a4dea27f1ef1?family=Helvetica+W01);
// @import "../css/app.css";



// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// @import 'vanillajs-datepicker/css/datepicker-bs5.css';
body {
    margin: 0;
    padding: 0;
}

// @font-face {
//     font-family: "Helvetica W01";
//     src: url("/fonts/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Helvetica W01";
//     src: url("/fonts/ac4134ce-b28e-4df9-b88c-a67db965774e.woff2") format("woff2"), url("/fonts/6389110a-e983-4d95-8d1f-5a87de018aac.woff") format("woff");
//     font-weight: 400;
//     font-style: oblique;
// }

// @font-face {
//     font-family: "Helvetica W01";
//     src: url("/fonts/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"), url("/fonts/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Helvetica W01";
//     src: url("/fonts/3e13f208-91f2-41ec-b1bf-e5b29d486821.woff2") format("woff2"), url("/fonts/17d3cf02-3e99-48c3-953a-b26082b28949.woff") format("woff");
//     font-weight: 700;
//     font-style: oblique;
// }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.45;
    // font-size: 17px;
}

h1 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 2em;
    font-weight: 500;
    font-family: rift-soft, sans-serif !important;
}

h2 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 2em;
    font-weight: 500;
    font-family: rift-soft, sans-serif !important;
}

h3 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 1.5em;
    font-weight: 500;
    font-family: rift-soft, sans-serif !important;
}

h4 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 1.0em;
    font-weight: 500;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif !important;
}

.teaser {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif !important;
    line-height: 1.45;
}


@media (min-width: 768px) {
    .table-container {
        width: 100% !important;
        overflow-x: auto !important;
    }
}

table {
    width: max-content !important;
    border-collapse: collapse !important;
}

th:first-child,
td:first-child {
    position: sticky !important;
    left: 0 !important;
    /* background-color: white !important; */
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--bs-border-color);
    /* Use Bootstrap's border color */
    border-left-width: 5px;
    border-radius: 3px;
    background-color: var(--bs-body-bg);
    /* Default background */
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-primary {
    background-color: var(--bs-primary-subtle);
    /* Bootstrap's subtle primary background */
    border-left-color: var(--bs-primary);
}

.callout-secondary {
    background-color: var(--bs-secondary-subtle);
    /* Bootstrap's subtle primary background */
    border-left-color: var(--bs-secondary);
}

.callout-success {
    background-color: var(--bs-success-subtle);
    /* Subtle success background */
    border-left-color: var(--bs-success);
}

.callout-danger {
    background-color: var(--bs-danger-subtle);
    /* Subtle danger background */
    border-left-color: var(--bs-danger);
}

.callout-info {
    background-color: var(--bs-info-subtle);
    /* Subtle info background */
    border-left-color: var(--bs-info);
}

.callout-warning {
    background-color: var(--bs-warning-subtle);
    /* Subtle warning background */
    border-left-color: var(--bs-warning);
}


.highlight-toolbar {
    background-color: var(--bd-pre-bg);
}


label {
    font-weight: 700;
}

/* INPUT CUSTOMIZATIONS */
.form-check-input {
    transition: all 0.15s ease-out 0s !important;
    border: 3px solid var(--bs-primary) !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin-top: 0.0rem !important;
    margin-right: 0.5rem !important;
    margin-left: 0rem !important;
    outline: none !important;
}

.form-check>.form-check-label {
    cursor: pointer !important;
}

.form-switch .form-check-input {
    width: 2.5em !important;
    height: 1.3em !important;
}

.form-check-input[type="radio"]:not(.form-switch .form-check-input):not(:checked) {
    margin-top: 0.25rem !important;
}

.form-check-input[type="radio"]:not(.form-switch .form-check-input):checked {
    background: var(--bs-light) !important;
    border: 12px double var(--bs-primary) !important;
    box-shadow: inset 0 0 0 4px var(--bs-primary);
}

.form-check:has(> .form-check-input-large) {
    display: flex;
    align-items: flex-end;
}

.form-check-input-large:not(.form-switch) {
    height: 40px !important;
    width: 40px !important;
    bottom: 3px !important;
}

.form-check-input-large[type="radio"]:checked {
    box-shadow: inset 0 0 0 8px var(--bs-primary) !important;
    border: 15px double var(--bs-primary);
}








@media (max-width: 576px) {
    .app-header {
        font-size: 1.1em;
    }

    .app-logo {
        width: 4em !important;
    }

    .app-beta {
        width: 1em !important;
    }
}

@media ((min-width: 767px) and (max-width: 767px)) {
    .app-header {
        font-size: 1.3em;
    }

    .app-beta {
        width: 1em !important;
    }
}

@media (min-width: 768px) {
    .app-header {
        font-size: 2em;
    }
}

/* VERTICAL STEPPER WITH INDICATOR */
.step {
    position: relative;
    min-height: 1em;
    /* color: gray; */
}

.step+.step {
    margin-top: 1.5em;
}

.step>div:first-child {
    position: static;
    height: 0;
}

.step>div:not(:first-child) {
    margin-top: 0.7em;
    margin-left: 3.5em;
    padding-left: 1em;
    padding-bottom: 1em;

}

.step.step-active {
    color: #4285f4
}

.step.step-active .step-circle {
    background-color: #bbb;
}

/* step-Circle */
.step-circle {
    font-size: 1.5em;
    /* background: white; */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #555;
    text-align: center;
    box-shadow: 0 0 0 3px #bbb;
    z-index: 1;
}

/* Vertical Line */
.step:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 39px;
    /* right: 10px; */
    /* bottom: -30px; */
    left: 17px;
    height: -webkit-calc(100% - 18px);
    width: 3px;
    /* transform: scale(1, 2); */
    /* transform-origin: 50% -100%; */
    background-color: #bbb;
    z-index: 0;
    /* line-height: 1.5em; */
}

.step HR {
    top: 20px;
    display: block;
    border: 0;
    border-top: 2px solid #555;
    padding: 0;
    margin: 0;
    z-index: 0;
    position: relative;
}

.step:last-child .step-circle:after {
    display: none;
}

/* Stepper Titles */
.step-title {
    line-height: 1.2em;
    font-weight: bold;
    font-size: 1.3em;
}

.step-caption {
    padding-top: 0.5em;
    line-height: 1.5em;
    vertical-align: top;
    /* font-size: 0.8em; */
}

/* Cookie Concent */

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #243061;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 9999;
    display: none;
}

.cookie-banner p {
    margin: 0;
    display: inline;
}

/* END Cookie Concent */
/* Default span styling - for small screens, hidden on desktop */

table.responsivetable td span {
    background: #eee;
    color: black;
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    margin: 0px;
    position: absolute;
    text-transform: uppercase;
    top: 0px;
    left: 0;
    background-color: #C6E0F5;
}

/* Simple CSS for flexbox table on mobile */

@media(max-width: 767px) {

    table.responsivetable tr:first-child {
        border-top: 1px solid;
    }

    table.responsivetable thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }

    table.responsivetable tr {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 40px;
        border: 1px solid;
        border-top: 3px solid;
    }

    table.responsivetable td {
        // border: 1px solid;
        margin: 0 0 0 0;
        padding-top: 20px;
        /* additional padding to avoid heading overlap */
        position: relative;
        // width: 50%;
        border: 0px solid;
    }

    /* Show the heading span */
    table.responsivetable td span {
        display: block;
    }
}