// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Sans:wght@100;400;500;600;700;900&display=swap');
// @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

@import "../css/app.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// @import 'vanillajs-datepicker/css/datepicker-bs5.css';

@font-face {
    font-family: "Helvetica W01";
    src: url("/fonts/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"), url("/fonts/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica W01";
    src: url("/fonts/ac4134ce-b28e-4df9-b88c-a67db965774e.woff2") format("woff2"), url("/fonts/6389110a-e983-4d95-8d1f-5a87de018aac.woff") format("woff");
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: "Helvetica W01";
    src: url("/fonts/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"), url("/fonts/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica W01";
    src: url("/fonts/3e13f208-91f2-41ec-b1bf-e5b29d486821.woff2") format("woff2"), url("/fonts/17d3cf02-3e99-48c3-953a-b26082b28949.woff") format("woff");
    font-weight: 700;
    font-style: oblique;
}

body {
    font-family: "Helvetica W01";
    font-weight: normal;
    line-height: 1.45;
    // font-size: 17px;
}

h1 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 2em;
    font-weight: 500;
    font-family: rift-soft, sans-serif !important;
}

h2 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 2em;
    font-weight: 500;
    font-family: "Helvetica W01", sans-serif !important;
}

h3 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 1.5em;
    font-weight: 500;
    font-family: "Helvetica W01", sans-serif !important;
}

h4 {
    margin-top: 0.5em;
    // margin-bottom: 0px;
    line-height: 1.0em;
    font-weight: 500;
    font-family: "Helvetica W01", sans-serif !important;
}

.table-container {
    width: 100% !important;
    overflow-x: auto !important;
}

table {
    width: max-content !important;
    border-collapse: collapse !important;
}

th:first-child,
td:first-child {
    position: sticky !important;
    left: 0 !important;
    /* background-color: white !important; */
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--bs-border-color);
    /* Use Bootstrap's border color */
    border-left-width: 5px;
    border-radius: 3px;
    background-color: var(--bs-body-bg);
    /* Default background */
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-primary {
    background-color: var(--bs-primary-subtle);
    /* Bootstrap's subtle primary background */
    border-left-color: var(--bs-primary);
}

.callout-secondary {
    background-color: var(--bs-secondary-subtle);
    /* Bootstrap's subtle primary background */
    border-left-color: var(--bs-secondary);
}

.callout-success {
    background-color: var(--bs-success-subtle);
    /* Subtle success background */
    border-left-color: var(--bs-success);
}

.callout-danger {
    background-color: var(--bs-danger-subtle);
    /* Subtle danger background */
    border-left-color: var(--bs-danger);
}

.callout-info {
    background-color: var(--bs-info-subtle);
    /* Subtle info background */
    border-left-color: var(--bs-info);
}

.callout-warning {
    background-color: var(--bs-warning-subtle);
    /* Subtle warning background */
    border-left-color: var(--bs-warning);
}



.card-body {
    padding: 0.5rem;
}

@media(min-width: 415px) {
    .card-body {
        padding: 2rem;
    }
}

.card-header {
    padding: 0.5rem;
}

@media(min-width: 415px) {
    .card-header {
        padding: 2rem;
    }
}

label {
    font-weight: 700;
}

/* INPUT CUSTOMIZATIONS */
.form-check-input {
    transition: all 0.15s ease-out 0s !important;
    border: 3px solid var(--bs-primary) !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin-top: 0.0rem !important;
    margin-right: 0.5rem !important;
    margin-left: 0rem !important;
    outline: none !important;
}

.form-check>.form-check-label {
    cursor: pointer !important;
}

.form-switch .form-check-input {
    width: 2.5em !important;
    height: 1.3em !important;
}

.form-check-input[type="radio"]:not(.form-switch .form-check-input):not(:checked) {
    margin-top: 0.25rem !important;
}

.form-check-input[type="radio"]:not(.form-switch .form-check-input):checked {
    background: var(--bs-light) !important;
    border: 12px double var(--bs-primary) !important;
    box-shadow: inset 0 0 0 4px var(--bs-primary);
}

.form-check:has(> .form-check-input-large) {
    display: flex;
    align-items: flex-end;
}

.form-check-input-large:not(.form-switch) {
    height: 40px !important;
    width: 40px !important;
    bottom: 3px !important;
}

.form-check-input-large[type="radio"]:checked {
    box-shadow: inset 0 0 0 8px var(--bs-primary) !important;
    border: 15px double var(--bs-primary);
}

.table-container {
    width: 100% !important;
    overflow-x: auto !important;
}

.table-timeline {
    width: max-content !important;
    border-collapse: collapse !important;
}

.table-timeline th:first-child,
.table-timeline td:first-child {
    position: sticky !important;
    left: 0 !important;
    /* background-color: white !important; */
}